.main {
	margin-top: 20px;
	display: grid;
	grid-template-areas: "left right";
	gap: 10px;
	grid-template-columns: 2fr 1fr;
}
.left {
	margin-left: 10px;
	grid-area: left;
}

.right {
	grid-area: right;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.block {
	position: relative;
}

.btngroup {
	position: absolute;
	right: 10px;
	top: 10px;
}

.imgBlock {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
	background-color: #f7f7f7;
	border-radius: 10px;
}

.imgBlock img {
	width: 90%;
	height: 90%;
	border-radius: 10px;
	object-fit: cover;
}

.promoItem div {
	font-size: 25px;
	font-weight: 400;
	position: relative;
	display: inline-block;
	z-index: 1;
}

.promoItem {
	background-color: #f7f7f7;
	/* z-index: -1; */
	padding: 15px;
	border-radius: 10px;
}

.promoItem div::after {
	content: "";
	display: block;
	width: 70px;
	height: 8px;
	z-index: -1;
	background-color: #1976d2;
	position: absolute;

	right: 0;
	transform: translate(7px, -10px);
	border-radius: 2px;
}

.grid {
	margin-top: 10px;
	display: grid;
	gap: 10px;
	grid-template-areas: "lt r" "lb r";
	grid-template-columns: 1fr 2fr;
}

.promoItem p {
	font-size: 20px;
	font-weight: 200;
}

.name {
	grid-area: lt;
}

.minPrice {
	grid-area: lb;
}

.descr {
	grid-area: r;
}

.input {
	font-family: "Roboto";
	margin-top: 10px;
	border: none;
	outline: none;
	height: 40px;
	width: 300px;
	border-radius: 10px;
	padding: 0 10px 0 10px;
	font-size: 19px;
	font-weight: 200;
}

.textarea {
	margin-top: 10px;
	font-size: 19px;
	font-weight: 200;
	border-radius: 10px;
	padding: 10px 10px 0 10px;
	font-family: "Roboto";
	border: none;
	resize: none;
	outline: none;
	width: 100%;
	height: calc(100% - 44px);
}

.operator {
	display: flex;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.operator img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.textWrap {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.personal {
	font-size: 20px;
	font-weight: 400;
}

.phoneNumber {
	font-weight: 200;
	font-size: 17px;
}

.rightHeader {
	padding-left: 10px;
	font-weight: 200;
	font-size: 30px;
	display: inline-block;
	position: relative;
}

.rightHeader::after {
	content: "";
	display: block;
	width: 250px;
	height: 8px;
	z-index: -1;
	background-color: #1976d2;
	position: absolute;

	right: 0;
	transform: translate(7px, -12px);
	border-radius: 2px;
}

.attachedOperator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	margin-right: 10px;
}

.attachedOperator img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.attachedTextWrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.attachedPersonal {
	font-weight: 400;
	font-size: 25px;
}

.attachedPhoneNumber {
	font-size: 18px;
	font-weight: 200;
}

.attachedInfoBlock {
	display: flex;
	gap: 20px;
	align-items: center;
}
